.container {
}

.left {
  float: left;
}

.right {
  float: right;
}

.cover > img {
}

.header-container {
  background-color: #191919;
}

/*************************************************************************************/
/* START: HEADER TOP */

.header-top-wrapper {
  width: 100%;
  max-width: 1170px;
  /* background-color: blue; */
  margin: 0 auto;
}

.header-top {
  padding-top: 12px;
  padding-bottom: 12px;
}

.social-menu-container {
  /* text-align: justify; */
}

.social-menu-container :after {
  /* content: ''; */
  display: inline-block;
  /* width: 100%; */
}

.top-menu-socials {
  display: inline-block;
  margin-right: 12px;
}

.login-menu-container {
  display: inline-block;
  width: 206px;
}

.top-user-menu-signin {
  display: inline-block;
}

.top-user-menu-lg {
  display: inline-block;
}

.header-bottom-container {
  position: relative;
  background: url(../img/bg.jpg);
  background-size: cover;
  width: 100%;
  /* overflow: hidden; */
  /* overflow-x: hidden; */
}

.header-bottom {
  width: 100%;
}

/* END: HEADER TOP */
/*************************************************************************************/

/*************************************************************************************/
/* START: HEADER BOTTOM*/

.header-bottom {
  display: inline-block;
}

.ham-container {
  display: none;
}

.ham-menu {
  vertical-align: middle;
  float: left;
  color: white;
}

.ham {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 4px 0;
}

.header-bottom-container {
  position: relative;
  background: url(../img/bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
}

.header-bottom-wrapper {
  max-width: 1170px;
  /* background-color: blue; */
  margin: 0 auto;
}

.header-bottom-wrapper {
  padding-top: 24px;
}

.logo {
}

.header-top-logo {
  position: absolute;
  left: 50%;
  display: none;
}

.header-top-logo > a {
  color: white;
}

.header-bottom-menu {
  float: right;
  width: 77.217094017%;
}

.menu-list-center {
  /* width: 900px;
    background-color: red; */
  /* margin-right: 58px; */
}

.menu-list-center > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu-list-center > ul > li {
  float: left;
}

/*must be same padding as icons right */
.menu-list-center > ul > li {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px 16px 0px;
  text-decoration: none;
}

.down-border {
  border-bottom: 4px solid transparent;
}

.down-border:hover {
  border-bottom: 4px solid #ff4081;
}

.menu-icon-right {
  padding-top: 16px;
}

.menu-icon-right-border {
  display: inline-block;
  padding-left: 14px;
  padding-right: 14px;

  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.menu-icon-right-border-last {
  display: inline-block;
  padding-left: 14px;
}

.center-menu-icon {
  background: url(../img/arrow_down.png) center center no-repeat;
  display: block;
  width: 20px;
  height: 20px;
}

/* END: HEADER BOTTOM*/
/*************************************************************************************/

/*************************************************************************************/
/* START: HEADER SLIDER*/

.slider-wrapper {
  margin: 0 auto;
  max-width: 1170px;
  padding-top: 187px;
  /* background-color: red; */
  align-content: center;
  padding-bottom: 67px;
  position: relative;
  /* overflow: hidden; */
}

.slider-arrow-left {
  position: absolute;
  top: 40%;
  left: -40px;
}

.slider-arrow-right {
  position: absolute;
  top: 40%;
  right: -40px;
}

.slider-genere {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.slider-title {
  text-align: center;
}

.slider-button {
  margin-top: 19px;
  margin-bottom: 19px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 170px;
}

.slider-button > a {
  display: block;
  color: #ffffff;
  /* font-size: 2rem;
    font-weight: 400; */
  text-transform: uppercase;
  text-decoration: none;
  /* padding: 15px 30px; */
  padding-top: 17px;
  padding-bottom: 16px;
  background-color: blue;
  border-radius: 60px;
  width: 170px;
}

.profile-info-wrapper {
  max-width: 233px;
  margin: 57px auto 0 auto;
  /* background-color: blue; */
  text-align: center;
}

.profile-img {
  width: 58px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 10px;
}

.profile-img img {
  border-radius: 50%;
  display: block;
}

.profile-date {
  margin-bottom: 34px;
}

.slider-post-engagement {
  margin: 0 auto;
  width: 233px;
}

.slider-post-engagement-comment::before {
  content: '';
  background: url(../img/forum_.png) center center no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 5px;
}

.slider-post-engagement-comment {
}

.slider-post-engagement-like {
}

.slider-post-engagement-like::before {
  content: '';
  background: url(../img/favorite_border.png) center center no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 5px;
}

/* END: HEADER SLIDER*/
/*************************************************************************************/

/*************************************************************************************/
/* START BODY: HEADER SLIDER*/

/*=====  START of Wrapper  ======*/
.body-container {
  background-color: #f5f5f5;
}

.body-category-container {
  background-color: white;
}

.body-category-wrapper {
  max-width: 1170px;
  /* background-color: blue; */
  margin: 0 auto;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}

/*=====  END of Wrapper  ======*/

/* END BODY: HEADER SLIDER*/
/*************************************************************************************/

/**
 *
 * START CATEGORY
 *
 */
.body-category-container {
  border-bottom: 1px solid #dddddd;
}

.sort-blog {
  padding-top: 11px;
  padding-bottom: 9px;
  margin-right: 15px;
  /* background-color: pink; */
  display: inline-block;
  width: max-content;
}

.sort-categories-list {
  display: inline-block;
}

.sort-item-active {
  /* display: inline-block; */
  display: inline-block;
  background-color: white;

  margin-right: 15px;
}

.sort-item-active > a {
  display: block;
  padding-left: 27px;
  border: 1px solid #525fbd;

  padding-right: 27px;
  padding-top: 11px;
  padding-bottom: 9px;
  border-radius: 25px;
}

.sort-item {
  display: inline-block;
  margin-right: 15px;
}

.sort-item > a {
  display: block;
  background-color: #f5f5f5;

  padding-left: 27px;
  padding-right: 27px;
  padding-top: 11px;
  padding-bottom: 9px;
  border-radius: 25px;
  border: 1px solid #f5f5f5;
}

.sort-item > a:hover {
  border: 1px solid #525fbd;
}

.select-sort-blog {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 18px;

  border: 0;
  background-color: #f5f5f5;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

.select-sort-blog-option {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
}

.body-category-wrapper-responsive {
  /* width: 100%;
    max-width: 90%; */
  display: none;
}

/*=====  End of END CATEGORY  ======*/

/**
 *
 * Start main body
 *
 */

.body-main-wrapper {
  margin: 0 auto;
  max-width: 1170px;
  padding-top: 31px;
}

.blog-main-wrapper {
  float: left;
  /* display: inline-block; */
  /* width: 820px; */
  width: 70.085470085%;
  /* background-color: blue; */
  /* margin-right: 40px; */
  margin-right: 3.418803419%;
}

/*=====  End of Section main body  ======*/

/**
 *
 * Start Blog 1
 *
 */

.blog-type-1-container {
  /* margin-bottom: 20px; */
  background-color: #f5f5f5;
}

.blog-type-1 {
  width: 100%;
  margin-bottom: 20px;

  background-color: white;
}

.blog-img {
  width: 100%;
  height: auto;
  position: relative;
}
.blog-img > img {
  display: block;
}
.blog-play {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.blog-img-genere {
  position: absolute;
  /* top: 85%; */
  bottom: 12%;
  left: 5%;
  font-size: 14px;
  font-family: 'Montserrat';
  color: rgb(255, 255, 255);
}

.blog-img-status {
  position: absolute;
  /* top: 85%; */
  bottom: 12%;
  /* color: white; */
  right: 5%;
  /* display: inline-block; */
}

.blog-img-like {
  margin-left: 20px;
  font-size: 12px;
  font-family: 'Montserrat';
  color: rgb(255, 255, 255);
}

.blog-img-like::before {
  content: '';
  background: url(../img/heart_ico.png) center center no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 5px;
}

.blog-img-comment {
  font-size: 12px;
  font-family: 'Montserrat';
  color: rgb(255, 255, 255);
}

.blog-img-comment::before {
  content: '';
  background: url(../img/forum_.png) center center no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 5px;
}

.blog-img > img {
  width: 100%;
  height: auto;
}

.blog-txt {
}

.blog-title {
  /* padding-top: 17px; */
  margin-bottom: 17px;
}

.blog-text {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 19px;
  padding-bottom: 17px;
  border-bottom: 1px solid #e1e1e1;
}

.blog-user {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 17px;
}

.blog-user-img > a > img {
  display: block;
  object-fit: cover;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.blog-user-info {
  margin-left: 9px;
}

.blog-username {
  margin-top: 9px;
  font-size: 14px;
}

.blog-timestamp {
  margin-top: 4px;
  font-size: 12px;
}

.blog-user-menu > img {
  margin-top: 9px;
  object-fit: cover;
  cursor: pointer;
}

/*=====  End of Blog1  ======*/

/**
 *
 * Blog Type 2
 *
 */
.blog-type-2-container {
  background-color: #f5f5f5;
}

.blog-type-2 {
  background-color: white;
  margin-bottom: 20px;
}

.blog-2-img {
  width: 31.707317073%;
  /* width: 260px; */
  height: 165px;
  position: relative;
}

.blog-2-img > img {
  object-fit: cover;
  /* width: 260px; */
  width: 100%;
  height: 165px;
}

.blog-2-txt {
  /* width: 560px -20 -20; */
  background-color: white;
  /* width: 520px; */
  width: 68.292682927%;
}

.blog-2-text {
  /* width: 520px; */
  width: 92.857142857%;
  margin-top: 12px;
  border-bottom: 1px solid #e1e1e1;
  padding-left: 20px;
  padding-right: 20px;
}

.blog-2-title {
  margin-bottom: 8px;
}

.blog-2-text-content {
  margin-bottom: 18px;
}

.blog-2-user {
  /* width: 520px; */
  width: 92.857142857%;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  /* padding-bottom: 17px; */
}

.blog-2-user-img > img {
  display: block;
  object-fit: cover;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.blog-2-user-info {
  margin-left: 9px;
}

.blog-2-timestamp {
  margin-top: 4px;
  font-size: 12px;
}

.blog-2-user-menu > img {
  object-fit: cover;
  margin-top: 9px;
  cursor: pointer;
}

/*=====  End of Blogstype 2  ======*/

/**
 *
 * Start blog style 3
 *
 */

.blog-type-3-container {
  /* margin-bottom: 20px; */
  background-color: #f5f5f5;
  margin-bottom: 20px;
}

.blog-type-3 {
  width: 260px;
  background-color: white;
}

.blog-3-img {
  width: 100%;
  position: relative;
  /* width: 260px;
    height: 160px; */
}

.blog-3-img > img {
  object-fit: cover;

  width: 100%;
  display: block;
  /* width: 260px;
    height: 160px; */
}

.blog-3-txt {
}

.blog-3-center {
  margin-left: 20px;
  margin-right: 20px;
  float: left;
}

.blog-3-text {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 19px;
  padding-bottom: 17px;
  border-bottom: 1px solid #e1e1e1;
}

.blog-3-user {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 17px;
}

.blog-3-user-img > img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.blog-3-user-info {
  margin-left: 9px;
}

.blog-username {
  margin-top: 9px;
  font-size: 14px;
}

.blog-timestamp {
  margin-top: 4px;
  font-size: 12px;
}

.blog-user-menu > img {
  object-fit: cover;

  margin-top: 9px;
}

/*=====  End of Blog style 3  ======*/

/**
 *
 * Start blog style 4
 *
 */

.blog-type-4-container {
  margin-bottom: 20px;
  background-color: #f5f5f5;
}

.blog-type-4 {
  /* width: 400px; */
  width: 48.780487805%;
  /* margin-bottom: 20px; */
  background-color: white;
}

.blog-4-img {
  position: relative;
  /* width: 400px; */
  width: 100%;
  /* height: 300px; */
}

.blog-4-img > img {
  object-fit: cover;
  display: block;
  /* width: 400px; */
  width: 100%;
  /* height: 300px; */
}

.blog-4-margin-right {
  margin-right: 20px;
}

.blog-4-txt {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 19px;
  padding-bottom: 17px;
  border-bottom: 1px solid #e1e1e1;
}

.more-button {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  outline: none;
  border: 1px solid transparent;
  background-color: #ffffff;
  box-shadow: 0 2px 13px rgba(0, 0, 0, 0.12);
}

.more-txt {
  margin-right: 10px;
}
.more-button-container {
  margin-bottom: 40px;
}
/*----------  Body end  ----------*/

/**
 *
 * Sidebar right
 *
 */

.right-sidebar-wrapper {
  /* display: inline-block; */

  background-color: white;
  padding-top: 24px;
  /* padding-left: 40px; */
  /* padding-left: 3.418803419%; */
  padding-left: 1.709401709%;
  padding-right: 1.709401709%;
  /* padding-right: 1.709401709%;  */
  /* width: 270px; */
  /* width: calc(270 / 310 * 100); */
  width: 23.076923077%;
}

.search {
  width: 100%;
  position: relative;
  margin-bottom: 21px;
}

.search-input {
  padding: 10px 20px;
  padding-right: 45px;
  width: 100%;
  border: 1px solid #ffffff;
  background-color: #f5f5f5;
  border-radius: 25px;
}

.search-button {
  position: absolute;
  top: 7px;
  right: 5px;
  border: none;
  width: 30px;
  height: 30px;
  box-shadow: 0 2px 13px rgba(0, 0, 0, 0.12);
  background-color: #ff4081;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
}

/**
 *
 * sidebar title
 *
 */
.categories {
  width: 100%;
  margin-bottom: 21px;
}

.sidebar-title {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #4455af;
  font-size: 18px;
  border-bottom: 1px solid #b0c2ff;
}

.categories > ul {
  list-style-type: none;
}

.categories > ul > li {
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #eaeaea;
}

.categories > ul > li:last-child {
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 0px solid #eaeaea;
}

/**
 *
 * form name
 *
 */

.form-info {
  margin-top: 16px;
  margin-bottom: 15px;
}

.form-input-txt {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  /* width: 270px; */
  width: calc(256px - 10px);
}

.subscribe-button {
  width: 100%;
  padding-bottom: 16px;
  padding-top: 16px;

  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #3f51b5;
  border-radius: 5%;
  cursor: pointer;
}

/* OR horizontal line start */
.or {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.or span {
  background: #fff;
  padding: 0 10px;
}

/* OR horizontal line END */

/**
 *
 * Social icon share
 *
 */

.social-subscribe {
  text-align: justify;
}

.social-subscribe:after {
  content: '';
  display: inline-block;
  width: 100%;
}

.social-subscribe-link {
  display: inline-block;
}

/*=============================================
=            Social icon end            =
=============================================*/

.tab-post-widget {
}

.tab-list {
  margin-top: 15px;
}

.tab-active {
  cursor: pointer;
  width: 49%;
  background-color: blue;
  color: white;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 15px;
  border: 1px solid #3b51b6;

  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
}

.tab {
  width: 49%;
  color: #3b51b6;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 15px;
  cursor: pointer;
}

.tab-right {
  border: 1px solid #3b51b6;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
}

/**
  *
  * Sidebar posts
  *
  */

.sidebar-post {
  padding-top: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e2e3e5;
}

.sidebar-post-last {
  padding-top: 20px;
  padding-bottom: 15px;
}

.sidebar-post-photo > img {
  width: 100px;
  height: 80px;
}

.sidebar-post-text-wrapper {
  /* width: calc(170px - 14px); */
  /* padding-left: 14px; */
  width: 57.7778%;
}

.post-info {
  margin-bottom: 8px;
}

/**
 *
 * sidebar TAGS
 *
 */

.tags-container {
  width: 100%;
  margin-top: 16px;
}

.tab-item {
  display: inline-block;
  /* padding-left: 16px;
	padding-right: 16px;
	padding-top: 7px;
	padding-bottom: 7px;
	background-color: #eeeeee;
	border-radius: 5px; */
  margin-bottom: 10px;
  margin-right: 10px;

  font-size: 14px;
  font-family: 'Open Sans';
  color: rgba(0, 0, 0, 0.871);
}

.tab-item > a {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #eeeeee;
  border-radius: 5px;
}

/**
 *
 * Image gallery
 *
 */

.body-photo-wrapper {
  width: 100%;
  /* max-width: 1170px; */
  overflow: hidden;
}

.img-gallery {
  overflow: hidden;
  width: calc(242px * 8);
}

.gallery-img {
  float: left;
  width: 242px;
  height: 242px;
}

/*=====  End of Gallery end  ======*/

/**
 *
 * Subscribe
 *
 */
.subscribe-container {
  background: url(../img/sub-bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
}

.subscribe-wrapper {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 78px;
  padding-bottom: 74px;
  /* display: inline-block; */
}

/*=============================================
 =            Subscribe end            =
 =============================================*/
.subscribe-title {
  /* padding-top: 15px; */
  /* margin-left: 130px; */
  vertical-align: middle;
  color: white;
}

.subscribe-input {
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;

  border: 1px solid #7c7f7f;
  border-radius: 30px;
  background-color: transparent;
  outline: 0;
}

.subscribe-button-2 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #313fa0;
  color: white;
  padding-left: 33px;
  padding-right: 33px;

  border: 1px solid transparent;
  border-radius: 30px;
  outline: 0;
  cursor: pointer;
}

/*=====  End of Subscribe end  ======*/

/**
 *
 * Widget
 *
 */

.widget-container {
  background-color: #212121;
}

.widget-wrapper {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 75px;
}

.widget {
  width: 23.076923077%;
}

.widget-margin {
  width: 23.076923077%;
  margin-left: 30px;
}

.widget-title {
  /* padding-top: 16px;
    padding-bottom: 16px; */
  margin-bottom: 30px;
}

.widget-title-social {
  margin-bottom: 15px;
}

.page-widget {
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid #757575;
  border-radius: 5px;
  margin-bottom: 5px;
}

.page-widget-menu {
  margin-left: 15px;
}

.page-widget-img {
  margin-right: 15px;
}

.page-widget-open {
  border: 1px solid #757575;
  border-radius: 5px;
  margin-bottom: 5px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.page-widget-option-wrapper {
  margin-left: 15px;
}

.page-widget-option {
  padding-top: 17px;
  padding-bottom: 7px;
  /* margin-left: 15px; */
}

.widget-header-option {
  padding-bottom: 16px;
  border-bottom: 1px solid #757575;
}

/* twitter */

.tweets {
  padding-bottom: 15px;
  border-bottom: 1px solid #404040;
  margin-bottom: 15px;
}

.tweets:last-child {
  border: none;
  /* padding-bottom: 0px; */
}

.tweet-content {
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
}

.tweet-text {
  /* edit width and fix size */
  width: 215px;
}

.tweet-option {
  text-align: justify;
  height: 15px;
}

.tweet-option:after {
  content: '';
  display: inline-block;
  width: 100%;
}

.tweet-option > li {
  list-style-type: none;
  /* float: left; */
  display: inline-block;
}

/* flickr */
.flickr-img-container {
  text-align: justify;
}

.flickr-img-container:after {
  content: '';
  display: inline-block;
  width: 100%;
}

/* letter */
.widget-letter-container {
  width: 100%;
}

.widget-letter-input {
  width: calc(100% - 30px);

  background-color: transparent;
  border: 1px solid #797979;
  color: #797979;
  font-size: 14px;
  font-family: 'Open Sans';
  margin-bottom: 10px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  outline: 0;
  border-radius: 5px;
}

.widget-letter-textArea {
  width: calc(100% - 30px);

  background-color: transparent;
  border: 1px solid #797979;
  color: #797979;
  font-size: 14px;
  font-family: 'Open Sans';
  margin-bottom: 10px;
  padding: 15px 15px;
  outline: 0;
  border-radius: 5px;
}

.widget-letter-button {
  background-color: #333333;
  border: 1px solid transparent;
  color: #fff;
  width: 100%;
  font-size: 18px;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
  outline: 0;
  border-radius: 5px;
}

/*=============================================
 =            Widget end            =
 =============================================*/

/*=====  End of Widget end  ======*/

/**
 *
 * Footer Start
 *
 */

.footer-container {
  background-color: #303030;
}

.footer-wrapper {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 35px;

  /* background-color: red; */
}

.footer-search {
  position: relative;
}
.footer-search-input {
  padding: 10px 20px;
  width: 100%;
  padding-right: 40px;
  border: 1px solid #7f7f7f;
  border-radius: 25px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.502);
}
.footer-search-button {
  position: absolute;
  top: 4px;
  right: 5px;
  border: none;
  width: 30px;
  height: 30px;
  box-shadow: 0 2px 13px rgba(0, 0, 0, 0.12);
  background-color: transparent;

  border-radius: 25px;
  outline: none;
}
.footer-menu-list-center {
  padding-top: 10px;
}

.footer-menu-list-center ul li {
  list-style-type: none;
  margin-right: 42px;
}

.footer-user-menu-lg-cont {
  padding-top: 10px;
}

.hidden-container {
  display: none;
}

.post-info .comment::before {
  background: url(../img/forum_color.png);
  display: block;
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 5px;
}

.slider-post-content {
  width: 100%;
  /* display: none; */
}
