/*=============================================
=            Responsive            =
ipad iphone4
=============================================*/

@media only screen and (max-width: 1250px) {
  .slider-arrow-left {
    display: none;
  }

  .slider-arrow-right {
    display: none;
  }
}
@media only screen and (max-width: 1169px) {
  .social-menu-container {
    display: none;
  }

  .login-menu-container {
    width: 100%;
  }

  .header-top-wrapper {
    width: 100%;
    max-width: 90%;
  }

  .top-user-menu-border {
    border: none;
  }

  .top-user-menu-border {
    float: left;
  }

  .right-sidebar-wrapper {
    display: none;
  }

  /**
   *
   * bottom header
   *
   */
  .header-bottom-wrapper {
    width: 100%;
    max-width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .header-bottom {
    text-align: center;
  }

  .menu-list-center {
    display: none;
  }

  .header-bottom-menu {
    width: 34px;
  }

  .menu-icon-right-border {
    display: none;
  }

  /* Dropdown */

  .ham-container {
    display: block;
    float: left;
    position: relative;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: 30px;
    text-align: left;
    width: 135px;
    z-index: 200;
  }

  .dropdown-content ul li {
    list-style-type: none;
  }

  .dropdown-content > ul > li {
    background-color: white;
    /* border-bottom: 1px solid red; */
  }

  .dropdown-content > ul > li > a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
  }

  .dropdown-content > ul > a > li {
    background-color: white;
    /* border-bottom: 1px solid red; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
  }

  .dropdown-content > ul > a :hover {
    background-color: aqua;
  }

  .logo {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
  }

  .menu-icon-right {
    padding-top: 8px;
  }

  .body-category-wrapper {
    width: 100%;
    max-width: 90%;
  }

  .sort-blog {
    display: none;
  }

  /* body */

  .body-main-wrapper {
    margin: 0 auto;
    max-width: 820px;
    width: 100%;
    padding-top: 31px;
  }

  .right-sidebar-wrapper {
    display: none;
  }

  .blog-main-wrapper {
    float: none;
    width: 100%;
    max-width: 820px;
  }

  /*
$font-size: 26px;
$line-height: 1.4;
$lines-to-show: 3;

h2 {
  display: block;



  display: -webkit-box;
  max-width: 400px;
  height: $font-size*$line-height*$lines-to-show;


  margin: 0 auto;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
*/

  .blog-2-text-content {
    display: block;

    display: -webkit-box;
    /* max-width: 100%; */
    height: 14px * 1.6 * 2;

    margin: 0 auto;
    font-size: 14px;
    line-height: 1.6;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .blog-type-3 {
    width: 48.780487805%;
    background-color: white;
  }

  .blog-3-center {
    float: right;
    margin-left: 0px;
    margin-right: 0px;
  }

  .blog-type-3:last-child {
    display: none;
  }

  .footer-wrapper {
    width: 100%;
    max-width: 90%;
  }
}

/*=====  End of Responsive  ======*/

@media only screen and (max-width: 838px) {
  /**
   *
   * Sort blog
   *
   */
  .body-category-wrapper {
    display: none;
  }

  .body-category-wrapper-responsive {
    width: 100%;
    max-width: 90%;
    display: block;
    margin: 0 auto;
  }

  .body-main-wrapper {
    width: 100%;
    max-width: 90%;
  }

  .blog-2-text {
    width: auto;
  }

  .blog-2-user {
    width: auto;
  }
}

/* ipad */
@media only screen and (max-width: 768px) {
  .slider-wrapper {
    display: none;
  }

  .subscribe-input {
    width: 125px;
  }

  .body-category-container {
  }

  .body-category-wrapper-responsive {
    width: 100%;
    max-width: 90%;
    display: block;
    margin: 0 auto;
  }

  .widget-wrapper {
    display: none;
  }

  .hidden-container {
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
  }

  .hidden-container ul li {
    list-style-type: none;
  }

  .hidden-title {
    margin-bottom: 12px;
    font-size: 20px;
    font-family: 'Montserrat';
    color: rgb(255, 255, 255);
    font-weight: bold;
  }

  .hidden-category > ul > li {
    margin-bottom: 12px;
    border-bottom: 1px solid #404040;
  }

  .body-category-container {
    background-color: #f5f5f5;
  }

  .hidden-category > ul > li > a {
    font-size: 14px;
    font-family: 'Open Sans';
    color: #757575;
  }

  .hidden-category {
    padding-top: 12px;

    margin-bottom: 30px;
  }

  .hidden-tab-tags {
  }

  .hidden-tags-container {
    width: 100%;
    margin-top: 16px;
  }

  /*
  .hidden-tags-container .tab-item {
		display: inline-block;
		padding-left: 16px;
		padding-right: 16px;
		padding-top: 7px;
		padding-bottom: 7px;
		background-color: transparent;
		border: 1px solid #757575;
		border-radius: 5px;
		margin-bottom: 10px;
		margin-right: 10px;

		font-size: 14px;
		font-family: "Open Sans";
		color: #757575;
  }
   */

  .hidden-tags-container {
    text-align: justify;
  }

  .tab-item > a {
    display: block;
    background-color: transparent;
    border: 1px solid #757575;
    border-radius: 5px;

    font-size: 14px;
    font-family: 'Open Sans';
    color: #757575;
  }
  .blog-4-text .blog-title {
    font-size: 16px;
  }

  .blog-3-txt .blog-title {
    font-size: 16px;
  }

  .subscribe-wrapper {
    width: 100%;
    max-width: 90%;
  }

  .subscribe-title {
    font-size: 20px;
    margin-top: 10px;
  }

  .footer-menu-list-center {
    display: none;
  }
}

/* 414 iphone8 Plus */
@media only screen and (max-width: 414px) {
  .blog-user-img {
    margin-top: 10px;
  }

  .blog-username {
    margin-top: 6px;
    font-size: 12px;
  }

  .blog-user-menu > img {
    object-fit: cover;
    margin-top: 12px;
  }

  .blog-timestamp {
    margin-top: 4px;
    font-size: 10px;
  }

  .blog-user-img > img {
    object-fit: cover;
    border-radius: 50%;
    height: 25px;
    width: 25px;
  }

  .blog-2-img .blog-img-status {
    display: none;
    /* right: 0%;; */
  }

  .blog-img-genere {
    left: 10%;
    font-size: 10px;
  }

  .blog-play {
    width: 25px;
    height: 25px;
  }

  .blog-play > img {
    width: 25px;
  }

  .blog-img-status {
    display: none;
  }

  .blog-type-1 .blog-img-genere {
    font-size: 16px;
    left: 5%;
  }

  .blog-type-1 .blog-img-status {
    display: block;
  }
}

/* iphone4 */
@media only screen and (max-width: 320px) {
  .blog-type-1 .blog-txt .blog-text .blog-text-content {
    display: block;
    /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: 246px;
    height: 14px * 1.4 * 3;
    /* Fallback for non-webkit */
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.625;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .blog-3-txt .blog-text .blog-text-content {
    display: block;
    /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: 246px;
    height: 14px * 1.4 * 3;
    /* Fallback for non-webkit */
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.625;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .blog-text-content {
    font-size: 12px;
  }

  .blog-4-txt {
    padding-top: 10px;
  }

  .blog-3-txt .blog-text {
    padding-top: 10px;
  }

  .blog-4-text .blog-title {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .blog-4-text .blog-text-content {
    font-size: 12px;
  }

  .blog-3-txt .blog-title {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .blog-user-img {
    margin-top: 4px;
  }

  .blog-2-text {
    width: auto;
  }

  .blog-2-user {
    width: auto;
  }

  .blog-2-user-img > img {
    height: 25px;
    width: 25px;
  }

  .blog-username {
    margin-top: 0px;
  }

  .blog-2-timestamp {
    margin-top: 2px;
    font-size: 10px;
  }

  .blog-user-img {
  }

  .blog-3-txt .blog-user-img {
    display: none;
  }

  .blog-3-txt .blog-user-info {
    margin: 0px;
  }

  .blog-3-txt .blog-timestamp {
    width: 80px;
  }

  .blog-type-4 .blog-user .blog-user-img {
    display: none;
  }

  .blog-type-4 .blog-user .blog-user-info {
    margin: 0px;
  }

  .blog-type-4 .blog-user .blog-timestamp {
    width: 80px;
  }

  .subscribe-title {
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
  }

  .subscribe-input {
    margin-left: 20px;
    /* width: calc(100% - 20px - 30px); */

    margin-bottom: 15px;
    width: 206px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .subscribe-button-2 {
    margin-left: 20px;

    padding-left: 28px;
    padding-right: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .gallery-img {
    width: 60px;
    height: 60px;
  }
}
