a {
  text-decoration: none;
  color: inherit;
}

.more-txt {
  font-family: 'Montserrat', sans-serif;
  color: blue;
}

/* START: HEADER TOP  */
.top-user-menu-border {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  padding-right: 15px;
  margin-right: 15px;
}

.top-user-menu-sign-in {
  color: rgba(255, 255, 255, 0.5);
}

.top-user-menu-ln {
  color: rgba(255, 255, 255, 0.5);
}

.top-user-menu-sign-in::before {
  content: '';
  background: url(../img/account_circle.png) center center no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 5px;
}

.top-user-menu-ln::before {
  content: '';
  background: url(../img/language.png) center center no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 5px;
}

.top-user-menu-ln::after {
  content: '';
  background: url(../img/arrow_down.png) center center no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  float: right;
  margin-right: 5px;
}

.login-menu-container {
  font-family: 'Montserrat', sans-serif;
}

.categories > ul {
  font-family: 'Montserrat', sans-serif;
}

/* END: HEADER TOP DESKTOP */
/*************************************************************************************/

/*************************************************************************************/
/*START: HEADER BOTTOM DESKTOP*/

.logo a {
  font-size: 24px;
  font-family: 'Montserrat';
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: left;
}

.menu-list-center {
  font-size: 14px;
  font-family: 'Montserrat';
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  position: absolute;
}

.slider-genere > span {
  font-size: 28px;
  font-family: 'Montserrat';
  color: rgba(255, 255, 255, 0.702);
  font-variant: small-caps;
  line-height: 0.964;
  text-align: center;
}

.slider-title {
  font-size: 42px;
  font-family: 'Montserrat';
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

.slider-button {
  font-size: 18px;
  font-family: 'Montserrat';
  color: rgb(255, 255, 255);
  font-variant: small-caps;
  line-height: 1.5;
  text-align: left;
}

.profile-name {
  font-size: 14px;
  font-family: 'Montserrat';
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.929;
  text-align: center;
}

.profile-date {
  font-size: 12px;
  font-family: 'Montserrat';
  color: rgba(255, 255, 255, 0.541);
  line-height: 2.25;
  text-align: center;
}

.slider-post-engagement {
  font-size: 12px;
  font-family: 'Montserrat';
  color: rgba(255, 255, 255, 0.702);
  /* line-height: 2.25; */
  text-align: left;
}

/*END: HEADER BOTTOM DESKTOP*/
/*************************************************************************************/

/**
 *
 * Sort Blog Start
 *
 */

.sort-blog {
  font-size: 16px;
  font-family: 'Montserrat';
  color: rgba(0, 0, 0, 0.871);
  font-weight: bold;
  font-variant: small-caps;
}

.sort-categories-list {
  font-size: 16px;
  font-family: 'Montserrat';
  /* color: rgb(63, 81, 181); */
  font-variant: small-caps;
}

/*END:  Sort Blog */
/*************************************************************************************/

/**
 *
 * Blog post
 *
 */

.blog-title {
  /* font-size: 18px;
    font-family: "Montserrat";
    color: rgba(0, 0, 0, 0.871);
    font-weight: bold; */
}

.blog-type-1-container .blog-type-1 .blog-txt .blog-text .blog-title {
  font-size: 18px;
  font-family: 'Montserrat';
  color: rgba(0, 0, 0, 0.871);
  font-weight: bold;
}

.blog-type-1 .blog-text-content {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.871);
  line-height: 1.625;
  font-family: 'Open Sans', sans-serif;
}

.blog-2-title {
  font-size: 16px;
  font-family: 'Montserrat';
  color: rgba(0, 0, 0, 0.871);
  font-weight: bold;
}

.blog-2-text-content {
  font-size: 14px;
  font-family: 'Open Sans';
  color: rgba(0, 0, 0, 0.871);
  /* line-height: 1.5; */
}

.blog-3-txt .blog-title {
  font-size: 14px;
  font-family: 'Montserrat';
  color: rgba(0, 0, 0, 0.871);
  font-weight: bold;
}

.blog-text-content {
  font-size: 14px;
  font-family: 'Open Sans';
  color: rgba(0, 0, 0, 0.871);
}

.blog-4-text .blog-title {
  font-size: 18px;
  font-family: 'Montserrat';
  color: rgba(0, 0, 0, 0.871);
  font-weight: bold;
}

.blog-4-text .blog-text-content {
  font-size: 16px;
  font-family: 'Open Sans';
  color: rgba(0, 0, 0, 0.871);
}

.blog-username {
  font-family: 'Maven Pro', sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.871);
  /* line-height: 1.929; */
}

.blog-timestamp {
  font-size: 12px;
  font-family: 'Maven Pro', sans-serif;
  color: rgba(33, 33, 33, 0.541);
}

.blog-2-timestamp {
  font-size: 12px;
  font-family: 'Maven Pro', sans-serif;
  color: rgba(33, 33, 33, 0.541);
}

/*
$font-size: 26px;
$line-height: 1.4;
$lines-to-show: 3;

h2 {
  display: block;



  display: -webkit-box;
  max-width: 400px;
  height: $font-size*$line-height*$lines-to-show;


  margin: 0 auto;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
*/

/*
$font-size: 26px;
$line-height: 1.4;
$lines-to-show: 3; */

.select-sort-blog {
  font-size: 10px;
  font-family: 'Montserrat';
  text-align: center;
  padding-left: 10px;
}

.select-sort-blog-option {
  font-size: 10px;
  font-family: 'Montserrat';
  text-align: center;
  padding-left: 10px;
}
.blog-4-text .blog-text-content {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 358px;
  height: 14px * 1.4 * 3;
  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.625;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/**/

/**
 *
 * Categories Start
 *
 */

.search > input {
  font-size: 16px;
  font-family: 'Open Sans';
  color: rgba(0, 0, 0, 0.38);
}

.sidebar-title {
  font-size: 16px;
  font-family: 'Open Sans';
  color: rgba(0, 0, 0, 0.38);
  font-weight: bold;
}

.categories > ul > li {
  font-size: 14px;
  font-family: 'Open Sans';
  color: rgba(0, 0, 0, 0.871);
}

.categories > ul > li .right {
  font-weight: bold;
}

.form-info {
  font-size: 16px;
  font-family: 'Open Sans';
  color: rgba(0, 0, 0, 0.871);
}

.form-input-txt {
  font-size: 16px;
  font-family: 'Open Sans';
  color: rgba(0, 0, 0, 0.871);
}

.subscribe-button {
  font-size: 18px;
  font-family: 'Montserrat';
  color: rgb(255, 255, 255);
}

.or {
  font-size: 16px;
  font-family: 'Open Sans';
}

.tab-list {
  font-size: 12px;
  font-family: 'Montserrat';
  color: rgb(255, 255, 255);
}

.post-info .date {
  font-size: 12px;
  font-family: 'Open Sans';
  color: rgba(0, 0, 0, 0.871);
}

.post-info .comment {
  font-family: 'Open Sans';

  font-size: 14px;
  color: rgb(63, 81, 181);
}

.post-detail {
  font-size: 12px;
  font-family: 'Open Sans';
  color: rgba(0, 0, 0, 0.871);
  font-weight: 700;
}

/*END:  Categories */
/******************/

/**
 *
 * Subscribe to our newsletter
 *
 */

.subscribe-title {
  font-size: 44px;
  line-height: 1;
  font-family: 'Montserrat';
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.subscribe-input {
  font-size: 16px;
  font-family: 'OpenSans';
  color: rgba(255, 255, 255, 0.541);
}

.subscribe-button-2 {
  font-size: 16px;
  font-family: 'Montserrat';
  color: rgb(255, 255, 255);
}

/*=====  End of Subscribe  ======*/

/**
 *
 * Widget start
 *
 */

.widget-title {
  font-size: 20px;
  font-family: 'Montserrat';
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
}

.page-widget-menu {
  font-size: 14px;
  font-family: 'Open Sans';
  color: rgba(255, 255, 255, 0.702);
  font-weight: bold;
  text-transform: uppercase;
}

.page-widget-option > a {
  font-size: 14px;
  font-family: 'Open Sans';
  color: rgba(255, 255, 255, 0.502);
}

/* tweet */
.tweet-text {
  font-size: 13px;
  font-family: 'Open Sans';
  color: rgba(255, 255, 255, 0.702);
}

.tweet-option {
  font-size: 12px;
  font-family: 'OpenSans';
  color: rgba(255, 255, 255, 0.502);
}

.tweet-option-text > a {
  font-size: 12px;
  font-family: 'OpenSans';
  color: rgba(255, 255, 255, 0.502);
  text-decoration: underline;
}

.fa,
.fas {
  color: rgba(255, 255, 255, 0.702);
}

.widget-letter-input {
  font-size: 14px;
  font-family: 'Open Sans';
  color: rgba(255, 255, 255, 0.502);
}

.widget-letter-textArea {
  font-size: 14px;
  font-family: 'Open Sans';
  color: rgba(255, 255, 255, 0.502);
}

.widget-letter-button {
  font-size: 18px;
  font-family: 'Montserrat';
  color: rgb(255, 255, 255);
}

/*=====  End of widget end  ======*/

/**
 *
 * Footer
 *
 */

.footer-menu-list-center {
  font-size: 14px;
  font-family: 'Montserrat';
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.footer-user-menu-ln::before {
  content: '';
  background: url(../img/language.png) center center no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 5px;
}

.footer-user-menu-ln::after {
  content: '';
  background: url(../img/arrow_down.png) center center no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  float: right;
  margin-right: 5px;
}

.footer-user-menu-ln {
  font-size: 16px;
  font-family: 'Montserrat';
  color: rgba(255, 255, 255, 0.502);
}

/*=====  End of footer  ======*/
input[type='text']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type='text']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

.slider-post-engagement-like {
  cursor: pointer;
}
